html{
    margin: 0;
    padding: 0;
}
.container{
    padding: 0 2%;
}
.input-group img{
    top: 12px;
    left: 10px;
}
.input-group input{
    padding-left: 27px;
    font-size: 0.95em;
    outline: none;
}
.input-group input::placeholder{
    font-weight: 600;
    font-size: 0.88em;
    color: #8d8282;
}
.country{
    margin-top: -35px;
}
.bg-warnin{
    background-color: #FFC24B;
}
.navigation{
    background-color: #7E0C19;
    border-radius: 20px 0 20px 0;
    position: relative;
    bottom: -7px;
    background: linear-gradient(.75turn, #7E0C19, 100%, #FB2C43);
}
.navigation a{
    color: #fff;
    font-size: 0.98em;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 8px;
    border-radius: 0 0 20px 0;
    background: linear-gradient();
}
.navigation ul{
    margin: 0;
    padding: 0;
}
.navigation li{
    border-radius: 20px 0 20px 0;
    background: linear-gradient(90deg,#990404 ,red 12%,#ff00008f 80%);
    margin-left: 0;
}
#proto1{
    z-index: 10;
    border-radius: 20px 0 20px 0;
}
#proto2{
    z-index: 5;
}
#proto3{
    z-index: 4;
}

/* ------engagement--------- */
.h1{
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 20px;
}
.color{
    color: #FB273E;
}
/* .paragraph{
    font-size: 1em;
    line-height: 10px;
} */

/* -----------footer---- */
 
.left .inner{
    border-bottom: 1px solid #d4d2d242;
    padding-right: 10px;
}
.inner p{
    margin-left: 19px;
    font-size: 1.1em;
}
.inner  .margin{
    margin-left: 55px;
}
.inner a{
    color: #f0e9e9;
}
.btn-color{
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FB273E;
    border-radius: 20px 0 20px 0;
    font-size: 1.09em;
    font-weight: 600;
}
.content p{
    line-height: 10px;
    color: #bbb6b6;
    font-size: 0.91em;
}
.smal{
    color: #fff;
    font-size: 0.9em;
}
.smal .in{
    color: #8d8282;
    font-weight: 600;
}
.smal a{
    text-decoration: none;
    color: #8d8282;
    padding: 0 5px;
    font-size: 0.8em;
}
.smal .backtotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
}






/* ------NOUS CONNAITRE PAGE-------- */
.paragraphs{
    font-size: 0.89em;
    line-height: 30px;
    color: #464343;
    font-weight: 500;
}
.heading{
    font-weight: 600;
}
.list{
    font-size: 0.89em;
    line-height: 30px;
    color: #464343;
    font-weight: 500;
}






/* ---------LANDING PAGE------- */
.style{
    width: 100px;
    height: 55px;
}
.shadow-l{
    box-shadow: 0 10px 20px #000000b2;
}
.actualite{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,1fr);
}
.actualite-1{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.actualite p{
    font-size: 0.7em;
    max-width: 300px;
}
.actualite-p-1{
    color: #000;
    font-weight: 700;
}
.actualite-p-2{
    margin-top: -10px;
}
.actualite-p-3{
    color: #8d8282;
    font-size: 0.5em;
    margin-top: -15px;
} 
.actualite-p-3 i{
    font-size: 0.7em;
    color: #8d8282;
}
iframe{
    display: block;
    /* padding: 20px 0 30px 0; */
}




/*-------------- Nos Marques --------------*/

.section-nos-marques{
    background-image: url('../images/nos-marques/bg_brands.jpg');
}

.pd-marque{
    /* display: flex; */
    justify-content: center;
}
.img-marque1, .img-marque2, .img-marque3, .img-marque4, .img-marque5{
    width: 500px;
}
.img-marque1{
    background-color: rgba(254, 202, 76, 0.6);
    margin-right: 20px;
}
.img-marque2{
    background-color: rgba(244, 130, 80, 0.6);
}
.img-marque3{
    background-color: rgba(242, 245, 251, 0.6);
    margin-right: 20px;
}
.img-marque4{
    background-color: rgba(166, 187, 120, 0.6);
}
.img-marque5{
    background-color: rgba(251, 236, 127, 0.6);
    margin-right: 20px;
}

@media screen  {
    
}